.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: white;
  height: 38px;
  padding: 8px 20px;
  box-shadow: 1px 1px 5px #888888;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 4px;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 10px;
  margin: 0 10px;
}
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.content {
  max-width: 1500px;
  margin: auto;
  background: white;
  padding: 10px;
}
#Architects {
  position: relative;
  top: 0%;
}
.BR {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  letter-spacing: 4px;
}
.logo {
  position: absolute;
  left: 600px;
  top: 350px;
  margin-top: 16px;
}
.Arc {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 4px;
}
.header1 {
  padding: 36px 0;
}
.header1 h3 {
  padding: 16px 0px;
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.parent1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8px;
  padding-bottom: 15px;
}
.son img {
  width: 100%;
}
.son1 {
  width: 24%;
  position: relative;
}
.son11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son2 {
  width: 24%;
  position: relative;
}
.son22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son3 {
  width: 24%;
  position: relative;
}
.son33 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son4 {
  width: 24%;
  position: relative;
}
.son44 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.parent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8px;
}

.son5 {
  width: 24%;
  position: relative;
}
.son55 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son6 {
  width: 24%;
  position: relative;
}
.son66 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son7 {
  width: 24%;
  position: relative;
}
.son77 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son8 {
  width: 24%;
  position: relative;
}
.son88 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: aliceblue;
  padding: 8px 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header2 {
  padding: 36px 0;
}
.header2 h3 {
  padding: 16px 0px;
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.header2 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.person img {
  width: 100%;
}
.person h3 {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
.person h5 {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.6;
  font-weight: 100;
  margin: 15px 0;
}
.person p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 0;
}
.person button {
  width: 100%;
  border: 0;
  padding: 8px 16px;
  margin: 15px 0;
  font-size: 16px;
  background-color: rgba(88, 88, 88, 0.1);
}
.person button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.JohnDoe1 {
  width: 24%;
}
.JohnDoe2 {
  width: 24%;
}
.MikeRoss {
  width: 24%;
}
.DanStar {
  width: 24%;
}
.header3 {
  padding: 36px 0;
}
.header3 h3 {
  padding: 16px 0px;
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.contact p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 0;
}
.contact {
  padding: 32px 16px;
}
.input {
  padding: 10px 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
  width: 100%;
  margin: 20px 0;
}
.butt {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 8px 16px;
  margin: 16px 0;
  border: none;
}
.butt:hover {
  background-color: rgba(88, 88, 88, 0.5);
  color: black;
}
.map img {
  width: 100%;
  padding: 8px 16px;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
  height: 60px;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer span {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer a {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer a:hover {
  color: green;
}
.end {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.end:hover {
  color: green;
}
